h1
 {		
	text-align: center;	
	color: white;
	}

li	
	{	
	display: inline;
	margin: 0px 40px 0px;
	}

li a
	{		
	text-decoration: none;
	color: white;
	}	

body
	{		
	background-color: black; 
	}


#pic {
/*	width: ;*/
	height: 600px;
	/*height: 100%;*/
	/*position: center;*/
	}

.img {
	position: center;

	}

p 	
	{ 
	color: white;		
	}

/*.container	
	{
	height: 800px;
    width: 100%;		
	}*/
